/*          FONTS           */
/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*--------------------------------------| COLORS |-------------------------------------*/
$backgroundColor:                   #DEB887;
$backgroundColor1:                  #518668;
$backgroundColor2:                  #172828;
$backgroundColor3:                  #98321C;

$backgroundColorHover:              #917858;
$backgroundColorHover1:             #22392C;
$backgroundColorHover2:             #2C4E4E;
$backgroundColorHover3:             #E44B2A;

$textColor:                         #172828;
$textColor1:                        #172828;
$textColor2:                        #DEB887;
$textColor3:                        #DEB887;

$textColorHover:                    #2C4E4E;
$textColorHover1:                   #2C4E4E;
$textColorHover2:                   #5D4D39;
$textColorHover3:                   #ffd49b;

/*--------------------------------------| SIZE |-------------------------------------*/
$textSizeP:                         1rem;
$textSizeH1:                        4rem;
$textSizeH2:                        3rem;
$textSizeH3:                        1.5rem;
$sidePadding:                       10%;

$imageSizeH2:                       40%;
$imageSizeH3:                       75%;

$storeColumns:                       3;

/*------------------------------------| SCROLLBAR |-----------------------------------*/
::-webkit-scrollbar { /* Scrollbar */
    width: 1em;
    top: 50px;
}
::-webkit-scrollbar-track { /* Background */
    background-color: $backgroundColor2;
    border-left: 3px solid $backgroundColor3;
}
::-webkit-scrollbar-thumb { /* Scroll piece */
    background-color: $backgroundColor3;
    top: 50px;
}
::-webkit-scrollbar-thumb:hover { /* Scroll piece hover */
    background-color: $backgroundColorHover3;
}
/*--------------------------------------| STYLES |-------------------------------------*/
p {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: $textSizeP;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: $textSizeH1;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: $textSizeH2;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: $textSizeH3;
}
.bannerImage {
    width:100%;
    height: 50%;
    object-fit: cover;
    border-bottom: 3px solid $backgroundColor3;
}
.bannerText {
    color: $textColor2;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: $textSizeH1;
    z-index: 10;

    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width:345px) {
    .bannerText {
        font-size: $textSizeH2;  
    }      
}
.banner {
    text-align: center;
}