/*          FONTS           */
/* Josefin Sans */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
/* Lora */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------| COLORS |-------------------------------------*/
/*--------------------------------------| SIZE |-------------------------------------*/
/*------------------------------------| SCROLLBAR |-----------------------------------*/
::-webkit-scrollbar {
  /* Scrollbar */
  width: 1em;
  top: 50px;
}

::-webkit-scrollbar-track {
  /* Background */
  background-color: #172828;
  border-left: 3px solid #98321C;
}

::-webkit-scrollbar-thumb {
  /* Scroll piece */
  background-color: #98321C;
  top: 50px;
}

::-webkit-scrollbar-thumb:hover {
  /* Scroll piece hover */
  background-color: #E44B2A;
}

/*--------------------------------------| STYLES |-------------------------------------*/
p {
  font-family: "Lora", serif;
  font-weight: normal;
  font-size: 1rem;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 4rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 3rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.bannerImage {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 3px solid #98321C;
}

.bannerText {
  color: #DEB887;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 4rem;
  z-index: 10;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 345px) {
  .bannerText {
    font-size: 3rem;
  }
}
.banner {
  text-align: center;
}

/*-------------------------------------| NAVBAR |-------------------------------------*/
header {
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  position: sticky;
  background-color: #172828;
  z-index: 69420;
  border-bottom: 3px solid #98321C;
  left: 0;
  top: 0;
}

.navBarDesign {
  left: 0;
  position: absolute;
  top: 0;
  height: inherit;
}

.navBarButton {
  background-color: #172828;
  color: #DEB887;
  cursor: pointer;
  border: 0px solid #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  height: 90%;
  width: 10%;
  margin: 2.5;
}
.navBarButton:hover {
  background-color: #22392C;
  color: #2C4E4E;
}

/*-------------------------------------| FOOTER |-------------------------------------*/
footer {
  height: 400px;
  width: 100%;
  display: flex;
  position: sticky;
  background-color: #172828;
  z-index: 69420;
  border-top: 3px solid #98321C;
  left: 0;
  top: 0;
}

footer p {
  color: white;
}

@media (max-width: 700px) {
  .navBarButton {
    width: 50% !important;
  }

  .navBarDesign {
    position: sticky;
  }
}
@media (max-width: 300px) {
  .navBarDesign {
    display: none;
  }
}/*# sourceMappingURL=base.css.map */