@import 'variables';

/* SHOP TABLE */
.shopTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    padding: 100 $sidePadding 100 $sidePadding;
    background: $backgroundColor2;
}
.shopListing {
    text-align: center;
    img {width:$imageSizeH3;}
}
h3 {
    color: $textColor2;
    margin-top: 10px;
    margin-bottom:5px;
    &:hover {
        color: $textColorHover2;
        cursor: pointer;
    }
}
p {
    color: $textColor2;
    &:hover {
        color: $textColorHover2;
        cursor: pointer;
    }
}
h2 {
    background: $backgroundColor2;
    color: $textColor2;
    text-align: center;
    padding: 100px 0 0 0;
}
@media (max-width:1000px) {
    .shopTable {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:650px) {
    .shopTable {
        grid-template-columns: 1fr;
    }
}