{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css/' %}">
    <title>L Keebs - Home</title>
</head>
<body>
    <!-- Banner -->
    <div class="banner">
        <img class="bannerImage" src="{% static 'images\banner.jpg' %}">
        <h1 class='bannerText'>Linsoft Keyboards</h1>
    </div>
    <!-- Layout one (carousel) -->
    <div class='carouselLayout' id="layout0">
    </div>
    <!-- Layout two (generic info) -->
    <div class='genericInfoLayout' id="layout1">
        <img class="genericInfoImage" src="{% static '/images/placeholder/1600x1200.png' %}">
        <h2>MECHANICAL KEYBOARD SHOP</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
        <button class="genericInfoButton" onclick="location.href='/shop'">Go to Store</button>
    </div>
    <!-- Layout three (generic info) -->
    <div class='genericInfoLayout' id="layout2">
        <img class="genericInfoImage" src="{% static '/images/placeholder/1600x1200.png' %}">
        <h2>FORUM</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique tellus lobortis mattis volutpat. Nam suscipit nisl in turpis hendrerit, eu eleifend ex suscipit. Donec orci mauris, suscipit at massa eu, imperdiet tempor metus. Duis viverra leo ullamcorper elementum accumsan. Nunc rutrum metus in nunc fringilla condimentum. Sed ornare suscipit.</p>
        <button class="genericInfoButton" onclick="location.href='/forum'">Go to Forum</button>
    </div>
    <!-- Layout four (generic info) -->
    <div class='genericInfoLayout' id="layout3">
        <img class="genericInfoImage" src="{% static '/images/placeholder/1600x1200.png' %}">
        <h2>BLOG</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu lacus mattis, placerat massa a, suscipit leo. Nullam venenatis, neque id commodo varius, odio libero ultricies urna, non tempus velit nisi ut neque. Proin aliquam magna eu lorem finibus auctor. Cras a commodo ex, eget porttitor est. Sed id odio tincidunt, facilisis sapien in, semper erat. Nunc pellentesque, purus vitae pellentesque euismod, nulla ex maximus augue, in ultrices nunc elit dignissim nisi. Sed congue at massa non imperdiet. Nulla.</p>
        <button class="genericInfoButton" onclick="location.href='/blog'">Go to Blog</button>
    </div>
    <!-- Layout five (shop shortcuts, 4 pictures with text) -->
    <div class="shopShortcutsLayout" id="layout4">

        <div class="shopShortcutsWidget">
            <img class="shopShortcutsImage" src="{% static '/images/placeholder/1024.png' %}">
            <h3>Keycaps</h3>
        </div>

        <div class="shopShortcutsWidget">
            <img class="shopShortcutsImage" src="{% static '/images/placeholder/1024.png' %}">
            <h3>Case</h3>
        </div>

        <div class="shopShortcutsWidget">
            <img class="shopShortcutsImage" src="{% static '/images/placeholder/1024.png' %}">
            <h3>PCBs</h3>
        </div>

        <div class="shopShortcutsWidget">
            <img class="shopShortcutsImage" src="{% static '/images/placeholder/1024.png' %}">
            <h3>Switches</h3>
        </div>
    </div>  
</body>
</html>
{% endblock %}