{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css/' %}">
    <title>L Keebs - About</title>
</head>
<body>
    <!-- Banner -->
    <div class="banner">
        <img class="bannerImage" src="{% static 'images\banner.jpg' %}">
        <h1 class='bannerText'>About</h1>
    </div>
    
</body>
</html>
{% endblock %}