{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linsoft Keyboards - {{ exampleListing.name }}</title>
</head>
<body>

    <!-- Banner above the page -->
    <div class="listing">
        <h1>{{ exampleListing.name }}</h1>
        <h2>€ {{ exampleListing.price }},-</h2>
        <p>{{exampleListing.description}} </p>
    </div>

</body>
</html>
{% endblock %}