{% extends '!base.html' %}
{% load static %}
{% load tailwind_tags %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
</head>
<body class="">
{% block content %}

    <img class="curve" src="{% static 'images/home/curve0.svg' %}">   

    <!-- INTRO -->
    <div class="flex h-screen absolute">
        <div 
        class="
        bg-gray-200 text-center 
        w-1/2 font-serif p-16 
        rounded-xl shadow-lg text-lg 
        z-10 my-auto 
        lg:m-auto 2xl:ml-auto 2xl:mr-0">
            <div class="inline">
                <h1 class="text-gray-800 text-6xl font-sans">{{ string.homeIntroPreTitle }}</h1>
                <h1 class="text-green-600 text-6xl mt-3 font-sans">{{ string.homeIntroTitle }}</h1>
            </div>

            <p class="mt-12">{{ string.homeIntroText|safe }}</p>
    
            <button
            onclick="window.location.href='/#blog';" 
            class="text-xl bg-green-500 mt-12 text-gray-700 uppercase rounded-lg w-64 h-24 m-auto font-mono"
            >{{ string.homeIntroCall }}
            </button>
        </div>
    </div>

    <img class="h-screen object-cover w-full filter brightness-75" src="{% static '/images/home/intro.jpg' %}">

    <img class="curve" src="{% static 'images/home/curve1.svg' %}">

    <!-- BLOG -->
    <div
    id="blog"
    class="
    grid 2xl:grid-cols-5 grid-cols-2
    bg-gray-300 h-screen 
    text-center font-serif text-lg">

        <img
        src="{% static '/images/home/blog.jpg' %}"
        class="col-span-1 2xl:col-span-3 
        h-screen object-cover">

        <div class="col-span-1 2xl:col-span-2 
        my-auto py-12 xl:px-36 lg:px-24 w-full">

            <h1 class="
            text-green-600 text-6xl font-sans 
            mt-8">{{ string.homeBlogTitle }}</h1>

            <p class="lg:mt-24 xl:mt-32">{{ string.homeBlogText|safe }}</p>

            <button 
                onclick="window.location.href='/blog';"
                class="text-xl text-gray-700 font-mono uppercase
                shadow-xl rounded-lg bg-green-500 
                w-64 h-24 m-auto
                
                xl:mt-32 lg:mt-24">{{ string.homeBlogCall }}
            </button>
        </div>
    </div>

    <img class="curve" src="{% static 'images/home/curve2.svg' %}">
    
    <!-- SHOP -->
    <div 
    id="shop"
    class="grid 2xl:grid-cols-5 grid-cols-2
    bg-gray-300 h-screen 
    text-center font-serif text-lg">
    <div class="col-span-1 2xl:col-span-2 my-auto py-12 px-36 w-full">
            <h1 class="text-green-600 text-6xl mt-8 font-sans">{{ string.homeShopTitle }}</h1>
            <p class="mt-32" >{{ string.homeShopText|safe }}</p>
            <button 
            onclick="window.location.href='/shop';"
            class="text-xl bg-green-500 mt-32 text-gray-700 uppercase shadow-xl rounded-lg w-64 h-24 m-auto font-mono">{{ string.homeShopCall }}</button>
        </div>
        <img class="
        col-span-1 2xl:col-span-3 
        h-screen object-cover" src="{% static '/images/home/shop.jpg' %}">
    </div>


    <img class="curve" src="{% static 'images/home/curve3.svg' %}">

    <!-- ABOUT -->
    <div 
    id="about"
    class="grid 2xl:grid-cols-5 grid-cols-2
    bg-gray-300 h-screen 
    text-center font-serif text-lg">
        <img class="
        col-span-1 2xl:col-span-3 
        h-screen object-cover" src="{% static '/images/home/about.png' %}">
        <div class="col-span-1 2xl:col-span-2 my-auto py-12 px-36 w-full">
            <h1 class="text-green-600 text-6xl mt-8 font-sans">{{ string.homeAboutTitle }}</h1>
            <p class="mt-32" >{{ string.homeAboutText|safe }}</p>
            <button 
            onclick="window.location.href='/about';"
            class="text-xl bg-green-500 mt-32 text-gray-700 uppercase shadow-xl rounded-lg w-64 h-24 m-auto font-mono">{{ string.homeAboutCall }}</button>
        </div>
    </div>

{% endblock %}
</body>
</html>