
    <div class="grid gap-16 grid-cols-3 m-auto">
        <div class="inline container max-w-md bg-gray-300 rounded-xl p-8 shadow-2xl">
            <div class="flex">
                <img class="w-16 inline" src="{% static '/images/caution-sign-svgrepo-com.svg/' %}" alt="logo">
                <h1 class="m-auto inline-block font-semibold text-gray-900 uppercase text-2xl">blog post</h1>
            </div>
            <img class="mx-auto w-10/12 h-10/12 mt-8 rounded-xl shadow-xl" src="{% static 'images/dingus.jpg' %}">
            <h2 class="mt-6 text-xl font-sans font-medium text-gray-800">Fortnite Big Chungus</h2>
            <p class="mt-2 text-base text-gray-700 font-serif">{{ string.blogPost1 }}</p>
        </div>
        <div class="inline container max-w-md bg-gray-300 rounded-xl p-8 shadow-2xl">
            <div class="flex">
                <img class="w-16 inline" src="{% static '/images/caution-sign-svgrepo-com.svg/' %}" alt="logo">
                <h1 class="m-auto inline-block font-semibold text-gray-900 uppercase text-2xl">blog post</h1>
            </div>
            <img class="mx-auto w-10/12 h-10/12 mt-8 rounded-xl shadow-xl" src="{% static 'images/create-you-a-nice-profile-picture.jpg' %}">
            <h2 class="mt-6 text-xl font-sans font-medium text-gray-800">Ding Dong Dongo</h2>
            <p class="mt-2 text-base text-gray-700 font-serif">{{ string.blogPost2 }}</p>        
        </div>
        <div class="inline container max-w-md bg-gray-300 rounded-xl p-8 shadow-2xl">
            <div class="flex">
                <img class="w-16 inline" src="{% static '/images/caution-sign-svgrepo-com.svg/' %}" alt="logo">
                <h1 class="m-auto inline-block font-semibold text-gray-900 uppercase text-2xl">blog post</h1>
            </div>
            <img class="mx-auto w-10/12 h-10/12 mt-8 rounded-xl shadow-xl" src="{% static 'images/haha.jpg' %}">
            <h2 class="mt-6 text-xl font-sans font-medium text-gray-800">Image beign racist</h2>
            <p class="mt-2 text-base text-gray-700 font-serif">{{ string.blogPost3 }}</p>        
        </div>
    </div>
